// Psitioning the text line could be solved by setting line-height property,
// But it would be broken if the footer consists more than one line of test
// So this approach will be more reliable
footer
  display: table
  width: 100%
  height: 50px
  background-color: $footerBgColor
  color: $textColor

  > div
    display: table-cell
    vertical-align: middle
