.rect
  background-color: $redSquareBgColor
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  width: 20%
  height: 20%
  // To set height to 20 percents of the parent height
  // This element should be positioned absolutely
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

// Mobile devices, rectangle to the top
@media only screen and (max-width: 991px)
  .rect
    top: 20px
    transform: translateX(-50%)


// Landscape orientation on Ipad
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape)
  .rect
    top: 20px
    transform: translateX(-50%)
