.slides
  display: table-row

  .slides-container
    width: 100%
    position: relative
    overflow: hidden
    background-color: $sliderBgColor
    max-height: $sliderImgMaxHeight
    display: table-cell

    .img-slide
      width: auto
      min-height: 100%
      margin: 0 auto
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      max-height: $sliderImgMaxHeight
      display: none

      &.visible
        display: block

.bottom-paddle
  position: absolute
  left: 50%
  bottom: 0
  transform: translate(-50%, 0%)
  -ms-transform: translate(-50%, 0%)
  text-align: center
  margin-top: 16px
  margin-bottom: 16px
  width: 100%
  padding: 0.01em 16px

.badge-counter
.slider-button
  cursor: pointer

.badge-counter
  display: inline-block
  border: 1px solid $sliderBgColor
  height: 16px
  width: 16px
  background-color: rgba(140,140,140,0.7)
  margin-top: 10px
  padding: 0
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  margin: 0 2px

  &.active
    background-color: $badgeActiveBgColor

  &:hover
    color: $badgeHoverTextColor
    background-color: $badgeActiveBgColor

.slider-button
  color: #fff
  font-size: 18px

  &:hover
    color: $arrowHoverColor

.btn-left
  float: left

.btn-right
  float: right
