@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
// Separate file with all variables of the styles
@require '_colors.styl'
@require 'nav.styl'
@require 'footer.styl'
@require 'rect.styl'
@require 'slider.styl'

html
body
  height: 100%
  margin: 0

main
  padding: 20px 15px
  min-height: calc(20% + 40px)
  // If this property is set the child element
  // will be ositioned relatively of this one
  position: relative
  width: 100%
  display: table

// Mobile devices (small resolution)
@media only screen and (max-width: 990px)
  main
    &.slider
      height: calc(80% - 106px)
      min-height: 300px

// Desktop devices (big resolution)
@media only screen and (min-width: 991px)
  main
    // 56px - height of nav, 50px -height of footer = 106px
    min-height: calc(100% - 106px)

// Landscape orientation on Ipad
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape)
  main
    min-height: calc(20% + 40px)

    &.slider
      height: calc(80% - 106px)
      min-height: 300px
